@import 'tailwindcss';

@theme {
  --font-kumbh-sans: Kumbh Sans, sans-serif;

  --background-image-image-radial: radial-gradient(
    circle,
    #2b2b2b 0%,
    #1e1e1e 74%,
    #131313 100%
  );
  --background-image-icon-radial: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(255, 255, 255, 0.19) 100%
  );
  --background-image-translucent-gradient: linear-gradient(
    to right,
    #ffffff0f 0%,
    #9999991f 100%
  );
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --breakpoint-smm: 435px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-800, currentColor);
  }
}

* {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a; 
  color: #e6e6e6; 
  
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #1a1a1a;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3a3a3a; 
    border-radius: 5px;
  }
}

.h-image {
  -webkit-mask-image: url("../public/black.png");
  -webkit-mask-position: center;
  -webkit-mask-size: 390px 390px;
  -webkit-mask-repeat: no-repeat;
  z-index: -10;
}

@media (max-width: 1280px) {
  .h-image {
    -webkit-mask-size: 300px 300px;
  }
}

@media (max-width: 1024px) {
  .h-image {
    -webkit-mask-size: 300px 300px;
  }
}

@media (max-width: 415px) {
  .h-image {
    -webkit-mask-size: 270px 270px;
  }
}

/* CARD ANIMATIONS */
.card {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.custom-toast {
  background-color: #1a1a1a !important;

  .Toastify__progress-bar {
    background-color: #666;
  }
}

.std-backdrop-blur {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
